# ============================
#  T1 - RP2040 / Nitehawk36
# ============================

[mcu tool1]
serial: /dev/serial/by-id/usb-Klipper_rp2040_323232323619C38A-if00
restart_method: command

[gcode_macro T1]
variable_active: 0
variable_color: ""
variable_max_fan_power: 1.0
gcode:
    SELECT_TOOL T=1

[tool T1]
tool_number: 1
detection_pin: !tool1:gpio10
extruder: extruder1
fan: T1_partfan
gcode_x_offset: -0.096875
gcode_y_offset: -0.582813
gcode_z_offset: -0.148750
params_park_x: 219.8
params_park_y: 2.25
params_park_z: 252
params_input_shaper_type_x: '2hump_ei'
params_input_shaper_freq_x: 82.6
params_input_shaper_damping_ratio_x: 0.1
params_input_shaper_type_y: 'mzv'
params_input_shaper_freq_y: 67.4
params_input_shaper_damping_ratio_y: 0.1
params_accelerometer: 'adxl345 T1'

[extruder1]
step_pin: tool1:gpio23
dir_pin: !tool1:gpio24
enable_pin: !tool1:gpio25
heater_pin: tool1:gpio9
sensor_pin: tool1:gpio29
sensor_type: ATC Semitec 104NT-4-R025H42G
pullup_resistor: 2200
min_temp: 0
max_temp: 300
min_extrude_temp: 170
nozzle_diameter: 0.4
filament_diameter: 1.75
gear_ratio: 9:1
microsteps: 32
full_steps_per_rotation: 200
rotation_distance: 46.83
control: pid
pid_Kp: 37.546
pid_Ki: 4.316
pid_Kd: 81.664

[tmc2209 extruder1]
sense_resistor: 0.100
uart_pin: tool1:gpio0
tx_pin: tool1:gpio1
interpolate: false
run_current: 0.650

[adxl345 T1]
cs_pin: tool1:gpio27
spi_software_sclk_pin: tool1:gpio18
spi_software_mosi_pin: tool1:gpio20
spi_software_miso_pin: tool1:gpio19
axes_map: x,z,y

[fan_generic T1_partfan]
pin: tool1:gpio6
max_power: 1.0
kick_start_time: 0.5
off_below: 0.1

[heater_fan T1_hotend_fan]
pin: tool1:gpio5
heater: extruder1
heater_temp: 50.0
kick_start_time: 0.5