# ============================
#  T2 - RP2040 / Nitehawk36
# ============================

[mcu tool2]
serial: /dev/serial/by-id/usb-Klipper_rp2040_3232323236198BB8-if00
restart_method: command

[gcode_macro T2]
variable_active: 0
variable_color: ""
variable_max_fan_power: 1.0
gcode:
    SELECT_TOOL T=2

[tool T2]
tool_number: 2
detection_pin: !tool2:gpio10
extruder: extruder2
fan: T2_partfan
gcode_x_offset: 0.512500
gcode_y_offset: -0.598438
gcode_z_offset: -0.591250
params_park_x: 148.25
params_park_y: 3.15
params_park_z: 252
params_input_shaper_type_x: '2hump_ei'
params_input_shaper_freq_x: 84.8
params_input_shaper_damping_ratio_x: 0.1
params_input_shaper_type_y: 'mzv'
params_input_shaper_freq_y: 70.0
params_input_shaper_damping_ratio_y: 0.1
params_accelerometer: 'adxl345 T2'

[extruder2]
step_pin: tool2:gpio23
dir_pin: !tool2:gpio24
enable_pin: !tool2:gpio25
heater_pin: tool2:gpio9
sensor_pin: tool2:gpio29
sensor_type: ATC Semitec 104NT-4-R025H42G
pullup_resistor: 2200
min_temp: 0
max_temp: 300
min_extrude_temp: 170
nozzle_diameter: 0.4
filament_diameter: 1.75
gear_ratio: 9:1
microsteps: 32
full_steps_per_rotation: 200
rotation_distance: 42.69
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114

[tmc2209 extruder2]
sense_resistor: 0.100
uart_pin: tool2:gpio0
tx_pin: tool2:gpio1
interpolate: false
run_current: 0.650

[adxl345 T2]
cs_pin: tool2:gpio27
spi_software_sclk_pin: tool2:gpio18
spi_software_mosi_pin: tool2:gpio20
spi_software_miso_pin: tool2:gpio19
axes_map: x,z,y

[fan_generic T2_partfan]
pin: tool2:gpio6
max_power: 1.0
kick_start_time: 0.5
off_below: 0.1

[heater_fan T2_hotend_fan]
pin: tool2:gpio5
heater: extruder2
heater_temp: 50.0
kick_start_time: 0.5